<%- include("header") %> 

  <form action="/text" method="get">
    <button class="btn btn-outline-light mb-3" type="submit">Text to Qr Code</button>
  </form>
  <form action="/" method="get">
    <button class="btn btn-outline-light mb-3" type="submit">
      Generate Random Password
    </button>
  </form>
  <form action="/qr-to-text" enctype="multipart/form-data" method="post">
      <input class="btn btn-outline-light w-100 mb-3" type="file" name="qrCode"> 
      <button class="btn btn-outline-light mb-3" type="submit">Convert To Text</button>
  </form>
  <% if(text){ %> 
  <h2 class="heading"><%= heading %></h2>
  <p class="extracted-text"><%= text %> </p>
  <% } %> 

<%- include("footer") %> 