<%- include("header") %> 

<form action="/qr-to-text" method="get">
  <button class="btn btn-outline-light mb-3" type="submit">Qr Code to Text</button>
</form>
<form action="/" method="get">
  <button class="btn btn-outline-light mb-3" type="submit">
    Generate Random Password
  </button>
</form>
<form action="/text" method="post">
  <input
    class="input-group-text mb-2 w-100"
    type="text"
    name="usrInput"
    placeholder="text"
    autofocus
    autocomplete="off"
  />
  <button class="btn btn-outline-light mb-3" type="submit">Generate</button>
</form>
<% if(img) {%>
<a href="<%= img %>" class="imgLink">
  <img src="<%= img %>" class="mb-3" alt="" />
</a>
<input
  class="input-group-text mb-1 file-name w-100"
  type="text"
  placeholder="file name"
/>
<button class="save btn btn-outline-light w-100">Save Image</button>
<% } %>

<%- include("footer") %> 