<%- include("partials/header"); -%>
<h1>Compose</h1>

<form action="/compose" method="post">
  <div class="form-group">
    <label for="postTitle">Title</label><br />
    <input
      type="text"
      class="form-control"
      name="postTitle"
      id="postTitle"
      autofocus
    />
  </div>
  <div class="form-group">
    <label for="postBody">Post</label><br />
    <textarea
      name="postBody"
      class="form-control"
      id="postBody"
      cols="30"
      rows="5"
    ></textarea>
  </div>
  <div>
    <button class="btn btn-primary" type="submit">Publish</button>
  </div>
</form>
<%- include("partials/footer"); -%>
